<a href="https://colab.research.google.com/github/nlnadialigia/afrodev-suzano/blob/main/formulario_fofoqueiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np

In [23]:
import csv

In [36]:
afrodev = open('/content/formulario.csv')

In [37]:
csvreader = csv.reader(afrodev, delimiter=';')

In [38]:
# Inserção dos títulos em um lista

header = []
header = next(csvreader)

# Inserção das informações em uma lista
rows = []
for row in csvreader:
  rows.append(row)

In [39]:
# Inclusão do array de rows em uma variável
alunos_afrodev = np.array(rows)

# Fechamento do arquivo
afrodev.close()

In [40]:
# Header - Topo do arquivo

{i: val for i, val in enumerate(header)}

{0: 'User_id',
 1: 'Carimbo de data/hora',
 2: 'Gênero ',
 3: 'Idade',
 4: 'CEP',
 5: 'Gíria da sua cidade',
 6: 'Estilo de música favorita',
 7: 'Cor favorita ',
 8: 'Número de irmãos ',
 9: 'Qual seu salário dos sonhos ? ',
 10: 'Gosta de programação',
 11: 'Gosta de matemática',
 12: 'Qual sua série favorita?',
 13: 'Você gosta do seu nome?',
 14: 'Você acredita em ET?',
 15: 'Uma data importante',
 16: 'Qual joia do infinito dos vingadores vocês gostaria de possuir ?',
 17: 'O quão atraente você se considera de 0 até 10',
 18: 'O quanto você gosta de café?',
 19: 'Você prefere gato ou cachorro?'}

In [42]:
# Nossos dados

alunos_afrodev[:5]

array([['1', '04/10/2021 20:05:11', 'Masculino', '31', '90660170',
        'Porto Alegre', 'Rock', 'Azul Marinho', '0', 'R$ 5.000', 'Sim',
        'Sim', 'Naruto Shippuden', 'Sim', 'Não', '17/12/2018',
        'JOIA DA ALMA', '8', '10', 'Cachorro'],
       ['2', '04/10/2021 20:05:15', 'Masculino', '26', '44380000',
        'Barril', 'Forró', 'Azul', '1', '12000', 'Sim', 'Sim', 'Suits',
        'Sim', 'Sim', '05/03/1995', 'JOIA DO TEMPO', '10', '5',
        'Cachorro'],
       ['3', '04/10/2021 20:05:25', 'Feminino', '23', '57061110',
        'Maceió', 'Rock', 'Verde', '1', '10000', 'Sim', 'Sim', 'Friends',
        'Sim', 'Sim', '16/04/2018', 'JOIA DO TEMPO', '8', '10', 'Gato'],
       ['4', '04/10/2021 20:05:32', 'Masculino', '27', '45820-085',
        'Fazer um reg', 'Forró', 'Azul', '3', '10k', 'Sim', 'Sim',
        'Game of Thrones', 'Sim', 'Sim', '02/08/2017',
        'JOIA DA REALIDADE', '6', '3', 'Gato'],
       ['5', '04/10/2021 20:05:34', 'Masculino', '20', '45930-000',
        'Didiel', 'Pagode', 'Preto', '3', '10000', 'Sim', 'Sim',
        'Mr. Robot', 'Sim', 'Não', '23/05/2001', 'JOIA DO TEMPO', '8',
        '5', 'Cachorro']], dtype='<U26')

In [43]:
# Quantidade de linhas e colunas

alunos_afrodev.shape

(2560, 20)

In [44]:
# Quantidade de dimensões

alunos_afrodev.ndim

2

In [49]:
# COMO PODEMOS FAZER PARA PEGAR UMA COLUNA ESPECIFICA EM FORMA DE LISTA?

print(alunos_afrodev[:,0])

['1' '2' '3' ... '2558' '2559' '2560']

In [52]:
# E como fariamos para pegar duas colunas?

print(alunos_afrodev[:,0:2][:2])

[['1' '04/10/2021 20:05:11']
 ['2' '04/10/2021 20:05:15']]

In [53]:
# Para pegar colunas especificas basta fazermos uma lista com as colunas que queremos

colunas = [0, 2 ,3]
print(alunos_afrodev[:, colunas][:5])

[['1' 'Masculino' '31']
 ['2' 'Masculino' '26']
 ['3' 'Feminino' '23']
 ['4' 'Masculino' '27']
 ['5' 'Masculino' '20']]

## EXERCÍCIO

### Calcular a média de idade

In [69]:
# Média de idade

idades = alunos_afrodev[:,3]
print(idades[:100])

['31' '26' '23' '27' '20' '30' '27' '28' '43' '28' '24' '39' '33' '32'
 '21' '25' '41' '33 anos' '35 anos' '20' '26' '52' '29' '23' '38' '35'
 '41' '20' '23' '28' '21' '21' '31' '26' '23' '27' '20' '30' '27' '28'
 '43' '28' '24' '39' '33' '32' '21' '25' '41' '33 anos' '35 anos' '20'
 '26' '52' '29' '23' '38' '35' '41' '20' '23' '28' '21' '21' '31' '26'
 '23' '27' '20' '30' '27' '28' '43' '28' '24' '39' '33' '32' '21' '25'
 '41' '33 anos' '35 anos' '20' '26' '52' '29' '23' '38' '35' '41' '20'
 '23' '28' '21' '21' '31' '26' '23' '27']

In [78]:
idade = np.array([int(s.split(' ')[0]) for s in idades])

print(idade[:100])

[31 26 23 27 20 30 27 28 43 28 24 39 33 32 21 25 41 33 35 20 26 52 29 23
 38 35 41 20 23 28 21 21 31 26 23 27 20 30 27 28 43 28 24 39 33 32 21 25
 41 33 35 20 26 52 29 23 38 35 41 20 23 28 21 21 31 26 23 27 20 30 27 28
 43 28 24 39 33 32 21 25 41 33 35 20 26 52 29 23 38 35 41 20 23 28 21 21
 31 26 23 27]

In [79]:
idade.mean()

29.46875

### Calcular o somatório do salário dos sonhos

In [84]:
salarios_sonho = alunos_afrodev[:,9]
print(salarios_sonho[:32])

['R$ 5.000' '12000' '10000' '10k' '10000' '20000' '10000' '10000'
 'R$ 15.000' '30000' '50000' '28000' '15000' '15 mil' '7000' '120 mil'
 '7000' '15000' '25 mil reais' '10k+' '40 mil' 'R$ 20.000' '15000' '5 mil'
 'R$ 20.000' '20.000 mensais' '7000' '100000' '50000' '20000' '3000'
 '100mil']

In [96]:
# Tratamento dos dados

def tratamento_dados(valor):
  dado_tratado = valor.replace('R$', '').replace('k', '000').replace(' ', '').replace('mil', '000').replace('+', '').replace('mensais', '').replace(',00', '').replace('reais','')
  dado_tratado = dado_tratado.replace('.', '')
  return dado_tratado

In [93]:
tratamento_dados('12.000')

'12000'

In [99]:
salarios_tratados = np.array([int(tratamento_dados(i)) for i in salarios_sonho])
print(salarios_tratados[:100])

[  5000  12000  10000  10000  10000  20000  10000  10000  15000  30000
  50000  28000  15000  15000   7000 120000   7000  15000  25000  10000
  40000  20000  15000   5000  20000  20000   7000 100000  50000  20000
   3000 100000   5000  12000  10000  10000  10000  20000  10000  10000
  15000  30000  50000  28000  15000  15000   7000 120000   7000  15000
  25000  10000  40000  20000  15000   5000  20000  20000   7000 100000
  50000  20000   3000 100000   5000  12000  10000  10000  10000  20000
  10000  10000  15000  30000  50000  28000  15000  15000   7000 120000
   7000  15000  25000  10000  40000  20000  15000   5000  20000  20000
   7000 100000  50000  20000   3000 100000   5000  12000  10000  10000]

In [101]:
soma_salarios = sum(salarios_tratados)
print(soma_salarios)

65920000

### Qual o valor médio para a pergunta 'O quanto você gosta de café?'

In [103]:
print(alunos_afrodev[:, 18][:100])

['10' '5' '10' '3' '5' '5' '7' '9' '10' '9' '0' '0' '10' '9' '9' '10' '10'
 '1' '1' '10' '7' '10' '10' '3' '2' '7' '10' '10' '6' '8' '8' '2' '10' '5'
 '10' '3' '5' '5' '7' '9' '10' '9' '0' '0' '10' '9' '9' '10' '10' '1' '1'
 '10' '7' '10' '10' '3' '2' '7' '10' '10' '6' '8' '8' '2' '10' '5' '10'
 '3' '5' '5' '7' '9' '10' '9' '0' '0' '10' '9' '9' '10' '10' '1' '1' '10'
 '7' '10' '10' '3' '2' '7' '10' '10' '6' '8' '8' '2' '10' '5' '10' '3']

In [106]:
gosta_cafe = np.array([int(i) for i in alunos_afrodev[:,18]])
print(gosta_cafe[:100])

[10  5 10  3  5  5  7  9 10  9  0  0 10  9  9 10 10  1  1 10  7 10 10  3
  2  7 10 10  6  8  8  2 10  5 10  3  5  5  7  9 10  9  0  0 10  9  9 10
 10  1  1 10  7 10 10  3  2  7 10 10  6  8  8  2 10  5 10  3  5  5  7  9
 10  9  0  0 10  9  9 10 10  1  1 10  7 10 10  3  2  7 10 10  6  8  8  2
 10  5 10  3]

In [107]:
print(gosta_cafe.mean())

6.75

 ### Sabendo que o salário mínimo é de R$ 1.192,40, e o crescimento anual é de 5%, quantos anos cada pessoa levaria para chegar no salário dos sonhos, levando em consideração a coluna Qual seu salário dos sonhos ?

In [116]:
def anos_para_sonho(valor):
  salario_minimo = 1192.40
  anos = 0
  while salario_minimo < valor:
    anos += 1
    salario_minimo *= 1.05
  return anos

In [118]:
tempo_sonho = np.array([anos_para_sonho(i) for i in salarios_tratados])
print(tempo_sonho)

[30 48 44 ... 58 19 91]